<h1>Editing consultant</h1>

<%= render "form", consultant: @consultant %>

<br>

<div>
  <%= link_to "Show this consultant", @consultant %> |
  <%= link_to "Back to consultants", consultants_path %>
</div>
