<div id="<%= dom_id notification %>">
  <p>
    <strong>Message:</strong>
    <%= notification.message %>
  </p>

  <p>
    <strong>Appointment:</strong>
    <%= notification.appointment_id_id %>
  </p>

</div>
