<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
<h1>Welcome to Whealth</h1>
    <p>Thank you for choosing Whealth. We're thrilled to have you on board!</p>
    <p>Your OTP code for account verification is: <strong><%= @otp %></strong></p>
    <p>Please use this OTP to complete the registration process and gain access to all the great features Whealth has to offer.</p>
    <p>If you have any questions or need assistance, feel free to contact our support team at tracychiuri@gmail.com.</p>
    <p>Once again, welcome to Whealth, and we look forward to serving you.</p>
<p>Best regards,<br>
The Whealth Team</p>
    </body>
</html>