<div id="<%= dom_id transaction %>">
  <p>
    <strong>Transaction code:</strong>
    <%= transaction.transaction_code %>
  </p>

  <p>
    <strong>User:</strong>
    <%= transaction.user_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>

</div>
